/*Header CSS*/
.header-g-container{
  background-color: #090053;
  height: 5vw;
}
.nav-link{
  color: #a9a4d8 !important;
}
.nav-link:hover{
  color: #ffff00 !important;
}
.login-n-cart-holder{
  display: flex !important;
  justify-content: space-between !important;
}

/*Contact CSS*/
.contact-aboutus-top{
  background-color: #ffffff;
  margin-top: 2.5vw !important;
}
.column{
  margin-top: 5% !important;
}
.aboutus-paragraph{
   margin-top: 2.5vw !important;
}
.aboutus-title-container{
  margin: 2vw;
}
.aboutus-title{
  color: #1523a0 !important;
  font-size: 55px !important;
}
.aboutus-map-container{
  margin-top: 7%;
}
.map-frame{
  width: 100%;
  margin-top: 15%;
}
.schedule-container{
  margin-top: 25%;
  display: flexbox !important;
  justify-content: space-between !important;
}
.schedule-subcontainer{
  margin-top: 5%;
}
.aboutus-location-container{
  margin-top: 2vw;
}
.leftmost-container{
  color: #242424 !important;
}
.street-view-container{
  width: 100%;
  margin-top: 2vw;
}
.street-view-frame{
  width: 100%;
}
.contact_form_container{
  width: 20vw !important;
  background-color: #090053 !important;
  color: #242424;
  margin-top: 3vw !important;
  border-radius: 10px !important;
}
.input_label{
  padding: 0.5vw !important;
  color: #ffffff; 
}
.data_clause{
  color: #ffffffc3 !important;
}
.message_field{
  height: 10vw !important;
  overflow-wrap: break-word !important;
}
.comment-submit-btn{
  margin-bottom: 1vw;
}
.whatsapp-label{
  margin-left: 1%;
}
.contact-checkbox{
  margin: 0% 2% 0% 2%;
}
.contact-method-preferred{
  color: #ffffff !important;
  margin-top: 3% !important;
  margin-bottom: 5% !important;
}
.submit-msg-btn{
  margin-top: 5%;
  margin-bottom: 5%;
}

/*Home CSS*/
.purchase-options-area{
  background-color: #21c400;
  color: #000000;
}
.tools-components-other{
  background-color: #ffff00;
  color: #000000;
}
.product-of-the-day{
  background-color: #ce0808;
  color: #000000;
}
.brands-sold{
  background-color: #800080;
  color: #000000;
}
.payment-methods{
  background-color: aquamarine;
  color:#000000;
}

/*Login CSS*/

.login-page-title{
  margin: 5vw !important;
  font-weight: 600;
  color: #090053;
}

.login-left-panel{
  margin-left: 2vw;
}

.login-form-label{
  font-weight: bold;
}

.login-form-input{
  width: 30vw !important;
}

.login-btn{
  color: #ffffff !important;
  font-weight: bold !important;
}

.loginpage-p{
  margin-bottom: 2vw;
}

.modal-text{
  color: #242424
}

.registration-link:link{
  font-weight: bold;
}

.reg-innerspan{
  text-decoration: dashed;
}

.data-wont-share{
  font-size: small;
}

.reg-form-label{
  margin-right: 1vw;
}

.login-left-panel-title{
  font-weight: bold !important;
  margin-bottom: 2vw;
}

.login-btn{
  background-color: #090053 !important;
}

/*Admin portal CSS*/

.admin-title{
  margin-top: 5vw;
  margin-bottom: 5vw;
  color: #090053;
}

.login-form-label{
  color: #090053;
}

.admin-login-input{
  width: 20vw !important;
}

.admin-login-btn{
  color: #ffffff !important;
  font-weight: bold !important;
  background-color: #020085 !important;
}

/*Other CSS*/
.page-separator{
  background-color: #c2c1c1;
  width: 100% !important;
  height: 10vh !important;
}




